
.loader-wrapper {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.loader-wrapper {
    img {
        width: 40dvw;
        height: 40dvh;
    }
} 