@import '../../variables.scss';

.leaderParty {
  padding: 100px 0 50px 0;
  background: url('../../assets/png/leader-bg.png');
  background-size: cover;
  background-position: center;
}

.leaderParty__wrapper-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  & > h2 {
    margin-bottom: 80px;
  }
}

.leaderParty__content {
  display: flex;
}

.leaderParty__content-img {
  width: 400px;
  height: 520px;
  margin-right: 80px;

  & img {
    box-shadow:
      0px 25px 56px 0px rgba(0, 0, 0, 0.1),
      0px 102px 102px 0px rgba(0, 0, 0, 0.09),
      0px 229px 137px 0px rgba(0, 0, 0, 0.05),
      0px 407px 163px 0px rgba(0, 0, 0, 0.01),
      0px 635px 178px 0px rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
  }
}

.leaderParty__text {
  margin-bottom: 55px;
}

.leaderParty__content-title {
  text-align: center;

  color: $dark_color;
  font-size: $h3_size;

  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  border-bottom: 3px solid $red-1;
  padding-bottom: 8px;
  max-width: 335px;
}

.leaderParty__content-subtitle {
  color: $red-1;
  font-family: $font-falinl-quotes;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  max-width: 450px;
  letter-spacing: 0.05em;
  margin-bottom: 80px;
}

.leaderParty__content-social {
  display: flex;
  align-items: center;
}

.leaderParty__social-link {
  margin-right: 25px;
  display: flex;
  align-items: center;
  transition: $transition;
  text-decoration: none;
  p {
    transition: $transition;
    font-size: 20px;
  }
  img {
    width: 40px;
    margin-right: 10px;
    transition: $transition;
  }
  &:hover {
    img {
      filter: invert(30%);
      transition: $transition;
    }
    p {
      color: #4c4c4c;
      transition: $transition;
    }
    transition: $transition;
    transform: translateY(-3px);
  }
}

.leaderParty__social-text {
  color: $dark_color;
  font-size: 42px;
  font-weight: 800;
  line-height: 45px;
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .leaderParty__wrapper-title > h2 {
    margin-bottom: 40px;
  }

  .leaderParty__content-subtitle {
    max-width: 350px;
  }

  .leaderParty__content-img {
    margin-right: 40px;
    width: 306px;
    height: 420px;
  }

  .leaderParty__social-text {
    font-size: 32px;
  }
}

//mobile
@media screen and (max-width: $mobile_width) {
  .leaderParty {
    padding: 50px 0 0 0;

    &__text {
      margin-bottom: 26px;
    }

    &__content-title {
      font-size: 24px;
      max-width: 225px;
    }

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }

    &__wrapper-title {
      margin-bottom: 0;

      & > h2 {
        margin-bottom: 20px;
      }
    }

    &__content-subtitle {
      max-width: 225px;
      font-size: 18px;
      margin-bottom: 20px;
    }

    &__content-img {
      margin-right: 0;
      width: 306px;
      height: 405px;
      margin-bottom: 30px;
    }

    &__social-link {
      margin-right: 25px;
    }

    &__social-text {
      font-size: 20px;
    }

    &__content {
      flex-direction: column;
    }
  }
}
