@import '../../variables.scss';

.header {
  background: linear-gradient(180deg, #fff 0%, #fff 56.77%);
  box-shadow: 0 3px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;

  &__translation-button.selected {
    color: $basic-color_500;
  }

  &__logo img {
    width: 70px;
    margin-right: 40px;
  }

  &__wapper {
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: $max_width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    &-ul {
      display: flex;
    }

    &-link {
      text-decoration: none;
      position: relative;
      font-family: Fact;
      font-size: 18px;
      font-weight: bold;
      line-height: 30px;
      color: $dark_color;

      &:hover {
        color: $red-1;
        transition: 0.3s;
      }

      &::before {
        content: '';
        bottom: -2px;
        right: 0;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: $red-1;
        transition: 0.2s;
      }

      &:hover:before {
        width: 100%;
        left: 0;
      }
    }

    &-list {
      margin-right: 18px;
      list-style: none;
      padding-right: 18px;
      border-right: 1px solid #000;

      &:last-child {
        margin-right: 0;
      }
    }

    .header__join-button-link:hover {
      animation: none; /* Отключаем анимацию при наведении */
    }

    .header__translation-button {
      background: transparent;
      position: relative;
      border: none;
      cursor: pointer;
      font-family: Fact;
      font-size: 18px;
      font-weight: bold;
      line-height: 30px;

      &:hover {
        color: $red-1;
        transition: 0.4s;
      }

      &:first-child {
        margin-right: 4px;

        &::after {
          content: '';
          border-right: 1px solid #000;
          height: 20px;
          margin-left: 4px;
        }
      }
    }

    .header__join {
      display: flex;

      &-button-link {
        margin-left: 50px;
        width: 160px;
        height: 40px;
        padding-top: 2px;
        text-align: center;
        background: transparent;
        border: 2px solid $red-1;
        cursor: pointer;
        color: $red-1;
        font-family: Fact;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        text-decoration: none;

        &:hover {
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          background: $red-1;
          color: $light_color;
          transition: 0.4s;
        }

        &:active {
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          background: $red-2;
          color: $light_color;
        }

        &:disabled {
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          background: $red-2;
          color: $grey-1;
        }
      }
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    &__content {
      &-list {
        margin-right: 8px;
      }
    }

    .header__content-list {
      padding-right: 8px;
    }

    .header__join-button-link {
      margin-left: 16px;
      width: 130px;
      height: 32px;
      padding-top: 0;
    }
  }
}
