@import '../../variables.scss';

.footer {
  background: #f2f2f2;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.footer__wrapper-content {
  display: flex;
}

.footer-content-ul {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.footer-content-list {
  list-style-type: none;

  .footer__content-link {
    text-decoration: none;
    color: $dark_color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 156.25%;

    &:hover {
      color: $red-1 !important;
      transition: 0.3s;
    }
  }

  &:first-child {
    margin-bottom: 6px;

    & > .footer__content-link {
      letter-spacing: 0.05em;
      font-size: 20px;
      text-decoration: none;
      color: $dark_color;
      font-weight: bold;
    }
  }
}

.footer__social {
  margin-bottom: 24px;
}

.social-link {
  &:not(:last-child) {
    margin-right: 35px;
  }

  & > img {
    transition: 0.5s;
  }

  & > img:hover {
    transform: translateY(-5px);
  }
}

.footer__mobile {
  text-align: end;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-decoration: none;
  color: $dark_color;
  span {
    font-weight: 700;
  }
  & > a {
    color: $dark_color;
    text-decoration: none;

    &:hover {
      color: $red-1;
      transition: 0.3s;
    }
  }
}

.footer__gmail {
  text-align: end;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  span {
    font-weight: 700;
  }
  & > a {
    color: $dark_color;
    text-decoration: none;

    &:hover {
      color: $red-1;
      transition: 0.3s;
    }
  }
}

.footer__logo img {
  margin-bottom: 24px;
}

.footer__subtitle {
  letter-spacing: 0.05em;
  font-size: 12px;
  text-decoration: none;
  color: $dark_color;
  font-weight: bold;
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding: 0 16px;
  }

  .social-link:not(:last-child) {
    margin-right: 16px;
  }
  .social-link > img {
    width: 30px;
    height: 30px;
  }

  .footer__mobile {
    display: flex;
    flex-direction: column;
  }
  .footer__social {
    text-align: end;
  }

  .footer-content-list:first-child > .footer__content-link {
    font-size: 16px;
  }
}

//mobile
@media screen and (max-width: $mobile_width) {
  .footer {
    padding: 0 10px;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

  .footer__logo img {
    width: 65px;
  }

  .footer__subtitle {
    text-align: center;
    margin-top: 22px;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: $dark_color;
  }

  .footer__wrapper-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .footer-content-ul {
    text-align: center;
    margin: 10px 0px 10px 0px;

    &:not(:last-child) {
      margin-right: 0px;
    }
  }
  .footer-content-ul .footer-content-list:first-child > .footer__content-link {
    font-size: 16px;
  }

  .footer__content-link {
    font-size: 14px;
  }
  .footer__social {
    margin-bottom: 38px;
    text-align: center;
  }

  .footer__mobile,
  .footer__gmail {
    text-align: center;
  }
}
