/* Policy.scss */
@import '../../variables.scss';

.policy {
    background: url('../../assets/png/NotFound-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .policy__title {
        font-size: 24px;
    }
}

.policy__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin: 88px 290px 98px 290px;
    padding: 0 20px;
}

.policy__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    .policy__text-link {
        color: $basic-color_500;
    }
    .policy__text-point {

        p.main__information {
            margin-top: 16px;
        }
    }
}

//tablet

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .policy__container {
        margin: 56px 92px;
    }
}

//mobile

@media screen and (max-width: $mobile_width) {
    .policy {
        font-size: 14px;
    }
    .policy__container {
        margin: 32px 0;
        padding: px 30px;
    }
}