{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/layout/(.*)$",
    "^@/ui/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
