@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-falinl-base;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content-wrapper {
}

.main {
  flex: 1;
  padding: 0px 10px 0px 10px;
  background: rgba(191, 165, 191, 0.76);
  background: linear-gradient(
    270deg,
    rgba(191, 165, 191, 0.76) 51%,
    #ffffff 90%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(191, 165, 191, 0.76) 51%,
    #ffffff 90%
  );
  background: -moz-linear-gradient(
    270deg,
    rgba(191, 165, 191, 0.76) 51%,
    #ffffff 90%
  );
  &__container {
    max-width: $max_width;
    margin: 0 auto;
  }
}
.leader-bg {
  position: relative;
  background: url('./assets/png/leader-bg.png') no-repeat center;
  background-size: cover;
  background-position: center;
}

.language-selector button.active {
  color: $basic-color_500;
}

.title {
  font-size: $h2_size;
  font-weight: bold;
  line-height: $h1_height;
}

// tablet adaptive

@media screen and (min-width: $tablet_width) and (max-width: $labtop_width) {
  .t-hide {
    display: none !important;
  }
}

@media screen and (max-width: $tablet_width) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .title {
    font-size: 24px !important;
    line-height: 30px;
  }
}

.mobile-only {
  display: none;
}

// mobile adaptive

@media screen and (max-width: $mobile_width) {
  .mobile-only {
    display: block;
  }

  .m-hide {
    display: none !important;
  }

  .title,
  .section-title {
    font-size: $subtitle_size !important;
    line-height: 28px;
    text-align: center;
  }
}

// scroll bar

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: $red-1;
}

// shake animation

.shake {
  animation: shake 0.8s ease;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-2px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2px);
  }
}

// floating animation

@keyframes moveUp {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0%,
  100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(0);
  }
}
