@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content-wrapper {
 
}
.header {
  background: #bcbcbc;
}
.main {
  flex: 1;
  max-width: $max_width;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}
.footer {
  background-color: #f0f0f0;
  color: #121212;
  padding: 20px;
  max-height: $heiggt_footer;
  margin-bottom: -($heiggt_footer);
}

@media screen and (max-width: $tablet_width) {
  .container {
    max-width: 768px;
    margin: 0 auto; 
  }
}

// hide mobile
@media screen and (max-width: $mobile_width) {
  .m-hide {
    display: none !important;
  }
}
