/* media-queries */

$desktop: 1024px;
$tablet: 768px;
$phone: 481px;

/* conteiner */
$max_width: 1100px;
$labtop_width: 1024px;
$tablet_width: 768px;
$mobile_width: 767px;

/* title font size */
$h1: 35px;
$h2: 30px;
$h3: 20px;
$h4: 15px;

/* text font size */

/* seconds of animations */
$transition: 0.6s;

/* backgraund color */

/* font color */

/* border  */

$border-radius: 20px;

/* footer */
$heiggt_footer: 100px;

/* color */

// black color
$black-1: var(--Black, #090909);

// red color
$red-1: var(--red-red-500, #f00);
$red-2: #e60808;

// white color
$white-1: #fff;

// grey color
$grey-1: #888;
