/* media-queries */

$desktop: 1024px;
$tablet: 768px;
$phone: 481px;


/* conteiner */
$max_width: 1100px;

/* title font size */
$h1: 35px;
$h2: 30px;
$h3: 20px;
$h4: 15px;

/* text font size */

/* seconds of animations */
$transition: 0.6s;

/* backgraund color */

/* font color */


/* border  */ 

$border-radius: 20px;


/* footer */
$heiggt_footer: 100px;