@import '../../variables.scss';

.arrow {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 3px solid $basic-color_500;
  background: $light_color;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 5px 5px 0px rgba(0, 0, 0, 0.09),
    0px 12px 7px 0px rgba(0, 0, 0, 0.05),
    0px 21px 8px 0px rgba(0, 0, 0, 0.01),
    0px 33px 9px 0px rgba(0, 0, 0, 0);
  font-size: 25px;
  cursor: pointer;
  color: $basic-color_500;
  margin-top: 325px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin: 7px 0px 0px 0px;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.arrow-left {
  img {
    transform: rotate(180deg);
  }
}

.arrow-right {
  right: 0px;
}

@media (min-width: 1341px) {
  .slider-text {
    bottom: 25px !important;
  }

  .arrow-left {
    left: 130px;
  }

  .arrow-right {
    right: 130px;
  }
}

@media screen and (min-width: 1160px) and (max-width: 1340px) {
  .slider-text {
    bottom: -35px !important;
  }

  .arrow {
    margin-top: 225px !important;
  }

  .arrow-left {
    left: 130px;
  }

  .arrow-right {
    right: 130px;
  }
}

.slider {
  position: relative;

  width: 100%;

  height: 780px;
  &__img-content {
    position: relative;
    display: flex;
    justify-content: center;
    .item {
      text-align: center;
      color: white;
      font-size: 40px;
      position: absolute;
      transition:
        height $transition,
        width $transition,
        left $transition,
        margin-top $transition,
        line-height $transition,
        background-color $transition;
      img {
        width: 100%;
      }
    }
  }
}
.slider-text {
  position: absolute;
  color: $basic-color_500;
  font-family: $font-falinl-quotes;
  font-size: 24px;
  font-weight: 700;
  line-height: 116%;
  text-align: center;
  width: 409px;
  transform: rotate(-23deg);
  bottom: -50px;
  right: 10px;
  z-index: 120;
  &::after {
    content: url('../../../src/assets/svg/icon/line.svg');
  }
}

@media (max-width: 1020px) {
  .slider-text {
    font-size: 12px;
    bottom: -120px;
    right: 10px;
    z-index: 120;
    &::after {
      content: url('../../../src/assets/svg/icon/line.svg');
      display: inline-block;
      width: 100px;
    }
  }
}

@media (max-width: 780px) {
  .slider-text {
    display: none;
  }
}
.dots {
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 130px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  display: block;
  width: 12px;
  height: 12px;
  background: $basic-color_500;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}
.active {
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid $basic-color_500;
  background: #ffffff;
}

$level2-height: 325px;
$level2-width: 243px;
$level1-height: 441px;
$level1-width: 330px;
$level0-height: 580px;
$level0-width: 440px;

$level-2-left: 220px;
$level-1-left: 370px;
$level0-left: '';
$level1-left: 370px;
$level2-left: 220px;

.level-2 {
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;
  background-color: #228291;
  right: $level-2-left;
  margin-top: 180px;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d6d6d6;
    opacity: 0.6;
  }
}

.level-1 {
  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  background-color: #6796e5;
  right: $level-1-left;
  margin-top: 110px;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d6d6d6;
    opacity: 0.6;
  }
}

.level0 {
  height: $level0-height;
  width: $level0-width;
  line-height: $level0-height;
  background-color: #4ec9e1;
  left: $level0-left;
  z-index: 3;
}

.level1 {
  height: $level1-height;
  width: $level1-width;
  line-height: $level1-height;
  background-color: #6796e5;
  margin-top: 110px;
  left: $level1-left;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d6d6d6;
    opacity: 0.6;
  }
}

.level2 {
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;
  background-color: #228291;
  margin-top: 180px;
  left: $level2-left;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d6d6d6;
    opacity: 0.6;
  }
}

.left-enter {
  opacity: 0;
  left: $level2-left - $level2-width;
  height: $level2-height - 30;
  width: $level2-width - 20;
  line-height: $level2-height - 30;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: $level2-left;
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;
  margin-top: 25px;
  transition:
    left 1s,
    opacity $transition,
    height $transition,
    width $transition,
    margin-top $transition,
    line-height $transition;
}

.left-leave {
  opacity: 1;
  left: $level-2-left;
  height: $level2-height;
  width: $level2-width;
  line-height: $level2-height;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: $level-2-left + $level2-width + 20;
  opacity: 0;
  height: $level2-height - 30;
  line-height: 120px;
  margin-top: 40px;
  width: $level2-width - 20;
  transition:
    left $transition,
    opacity $transition,
    height $transition,
    width $transition,
    margin-top $transition,
    line-height $transition;
}

.right-enter {
  opacity: 0;
  left: $level-2-left + $level2-width;
  height: $level2-height - 30;
  width: $level2-width - 20;
  line-height: $level2-height - 30;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: $level-2-left;
  opacity: 1;
  height: $level2-height;
  margin-top: 25px;
  line-height: $level2-height;
  width: $level2-width;
  transition:
    left $transition,
    opacity $transition,
    height $transition,
    width $transition,
    margin-top $transition,
    line-height $transition;
}

.right-leave {
  left: $level2-left;
  height: $level2-height;
  opacity: 1;
  margin-top: 25px;
  line-height: $level2-height;
  width: $level2-width;
}

.right-leave.right-leave-active {
  left: $level2-left - $level2-width;
  opacity: 0;
  height: $level2-height - 30;
  width: $level2-width - 20;
  line-height: $level2-height - 30;
  margin-top: 40px;
  transition:
    left $transition,
    opacity $transition,
    height $transition,
    width $transition,
    margin-top $transition,
    line-height $transition;
}

@media (max-width: 1340px) {
  .slider {
    position: relative;
    height: 520px;
  }

  .dots {
    bottom: 0;
  }

  .arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 3px solid $basic-color_500;
    background: $light_color;
    margin-top: 205px;
  }

  $level2-height: 146px;
  $level2-width: 110px;
  $level1-height: 293px;
  $level1-width: 220px;
  $level0-height: 480px;
  $level0-width: 360px;

  $level-2-left: 200px;
  $level-1-left: 300px;
  $level0-left: '';
  $level1-left: 300px;
  $level2-left: 200px;

  .level-2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: #228291;
    right: $level-2-left;
    margin-top: 180px;
    z-index: 1;
  }

  .level-1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: #6796e5;
    right: $level-1-left;
    margin-top: 110px;
    z-index: 2;
  }

  .level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    background-color: #4ec9e1;
    left: $level0-left;
    z-index: 3;
  }

  .level1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: #6796e5;
    margin-top: 110px;
    left: $level1-left;

    z-index: 2;
  }

  .level2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: #228291;
    margin-top: 180px;
    left: $level2-left;

    z-index: 1;
  }

  .left-enter {
    opacity: 0;
    left: $level2-left - $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
  }

  .left-enter.left-enter-active {
    opacity: 1;
    left: $level2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }

  .left-leave {
    opacity: 1;
    left: $level-2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
  }

  .left-leave.left-leave-active {
    left: $level-2-left + $level2-width + 20;
    opacity: 0;
    height: $level2-height - 30;
    line-height: 120px;
    margin-top: 40px;
    width: $level2-width - 20;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }

  .right-enter {
    opacity: 0;
    left: $level-2-left + $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
  }

  .right-enter.right-enter-active {
    left: $level-2-left;
    opacity: 1;
    height: $level2-height;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }

  .right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 1;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
  }

  .right-leave.right-leave-active {
    left: $level2-left - $level2-width;
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }
}

@media (max-width: 1160px) {
  .slider {
    position: relative;
    height: 520px;
  }

  .arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 3px solid $basic-color_500;
    background: $light_color;
    margin-top: 205px;
  }

  $level2-height: 146px;
  $level2-width: 110px;
  $level1-height: 293px;
  $level1-width: 220px;
  $level0-height: 480px;
  $level0-width: 360px;

  $level-2-left: 100px;
  $level-1-left: 210px;
  $level0-left: '';
  $level1-left: 210px;
  $level2-left: 100px;

  .level-2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: #228291;
    right: $level-2-left;
    margin-top: 180px;
    z-index: 1;
  }

  .level-1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: #6796e5;
    right: $level-1-left;
    margin-top: 110px;
    z-index: 2;
  }

  .level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    background-color: #4ec9e1;
    left: $level0-left;
    z-index: 3;
  }

  .level1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: #6796e5;
    margin-top: 110px;
    left: $level1-left;

    z-index: 2;
  }

  .level2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: #228291;
    margin-top: 180px;
    left: $level2-left;

    z-index: 1;
  }

  .left-enter {
    opacity: 0;
    left: $level2-left - $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
  }

  .left-enter.left-enter-active {
    opacity: 1;
    left: $level2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }

  .left-leave {
    opacity: 1;
    left: $level-2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
  }

  .left-leave.left-leave-active {
    left: $level-2-left + $level2-width + 20;
    opacity: 0;
    height: $level2-height - 30;
    line-height: 120px;
    margin-top: 40px;
    width: $level2-width - 20;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }

  .right-enter {
    opacity: 0;
    left: $level-2-left + $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
  }

  .right-enter.right-enter-active {
    left: $level-2-left;
    opacity: 1;
    height: $level2-height;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }

  .right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 1;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
  }

  .right-leave.right-leave-active {
    left: $level2-left - $level2-width;
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }
}

@media (max-width: 940px) {
  .slider {
    position: relative;
    height: 520px;
  }

  .arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 3px solid $basic-color_500;
    background: $light_color;
    margin-top: 205px;
  }

  $level2-height: 146px;
  $level2-width: 110px;
  $level1-height: 293px;
  $level1-width: 220px;
  $level0-height: 480px;
  $level0-width: 360px;

  $level-2-left: 100px;
  $level-1-left: 150px;
  $level0-left: '';
  $level1-left: 150px;
  $level2-left: 100px;

  .level-2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: #228291;
    right: $level-2-left;
    margin-top: 180px;
    z-index: 1;
  }

  .level-1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: #6796e5;
    right: $level-1-left;
    margin-top: 110px;
    z-index: 2;
  }

  .level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    background-color: #4ec9e1;
    left: $level0-left;
    z-index: 3;
  }

  .level1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: #6796e5;
    margin-top: 110px;
    left: $level1-left;

    z-index: 2;
  }

  .level2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: #228291;
    margin-top: 180px;
    left: $level2-left;

    z-index: 1;
  }
}

@media (max-width: 620px) {
  .arrow {
    position: static;
    width: 28px;
    height: 28px;
    min-width: 28px;
    z-index: 4;

    img {
      width: 11px;
      margin: 7px 0px 0px 0px;
    }
  }

  .slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 430px;
    gap: 15px;
    margin: 30px 0px 30px 0px;
    &__img-content {
      position: relative;
      display: flex;
      justify-content: center;
      .item {
        text-align: center;
        color: white;
        font-size: 0px;
        position: static;
        transition:
          height 1s,
          width 1s,
          left 1s,
          margin-top 1s,
          line-height 1s,
          background-color 1s;
      }
    }

  }

  $level2-height: 250px;
  $level2-width: 150px;
  $level1-height: 300px;
  $level1-width: 200px;
  $level0-height: 400px;
  $level0-width: 300px;

  $level-2-left: 0;
  $level-1-left: 0;
  $level0-left: '';
  $level1-left: 0px;
  $level2-left: 0px;

  .level-2 {
    display: none;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: transparent;
    margin-top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
  }

  .level-1 {
    display: none;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: transparent;

    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 0px;
    z-index: 2;
  }

  .level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    background-color: transparent;
    left: $level0-left;
    z-index: 3;
  }

  .level1 {
    display: none;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: transparent;
    margin-top: 0px;

    left: 0;
    right: 0;
    margin: 0 auto;

    z-index: 2;
  }

  .level2 {
    display: none;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: transparent;
    margin-top: 0px;

    left: 0;
    right: 0;
    margin: 0 auto;

    z-index: 1;
  }

  .left-enter {
    opacity: 0;
    left: $level2-left - $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
  }

  .left-leave {
    opacity: 1;
    left: $level-2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
  }

  .left-leave.left-leave-active {
    left: $level-2-left + $level2-width + 20;
    opacity: 0;
    height: $level2-height - 30;
    line-height: 120px;
    margin-top: 40px;
    width: $level2-width - 20;
    transition:
      left 1s,
      opacity 1s,
      height 1s,
      width 1s,
      margin-top 1s,
      line-height 1s;
  }

  .right-enter {
    opacity: 0;
    left: $level-2-left + $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
  }

  .right-enter.right-enter-active {
    left: $level-2-left;
    opacity: 1;
    height: $level2-height;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
  }

  .right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 1;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
  }

  .right-leave.right-leave-active {
    left: $level2-left - $level2-width;
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px){
  .arrow {
    margin-top: 145px;
  }
  .slider {
    height: 330px;
    gap: 15px;
    &__img-content {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  $level0-height: 300px;
  $level0-width: 235px;

  .level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    background-color: transparent;
    left: $level0-left;
    z-index: 3;
  }
}

@media screen and (max-width: 350px) {
  .slider {
    gap: 8px
  }
}